{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}






<section id="section-services"
    style="background-size: cover; background: white; background-image: url(images/background/bg-sun.jpg)" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                <h1 class="text-white">Nguyên lý hoạt động</h1>
                <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                <div class="spacer-single"></div>
            </div>


            <div class="col-md-4 wow fadeInLeft">

                <div class="image-popup-no-margins">
                    <img src="images/hmm/1.png" class="img-responsive img-rounded" alt="">
                </div>

                <h3 class="text-white text-center mt-4 h3">Sáng sớm</h3>

            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="image-popup-no-margins">
                    <img src="images/hmm/2.png" class="img-responsive img-rounded" alt="">
                </div>

                <h3 class="text-white text-center mt-4 h3">Ban ngày</h3>
            </div>

            <div class="col-md-4 wow fadeInRight">
                <div class="image-popup-no-margins">
                    <img src="images/hmm/3.png" class="img-responsive img-rounded" alt="">
                </div>

                <h3 class="text-white text-center mt-4 h3">Buổi tối</h3>

            </div>

        </div>
    </div>
</section>
<!-- section close -->


<!-- section begin -->
<section id="section-services" style="background: white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                <h2>Phần mềm</h2>
                <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                <div class="spacer-single"></div>
            </div>



            <div class="col-md-6 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">


                <div class="slide-side text-center">
                    <img class="phone" alt="" src="images/screen/phone.png">

                    <div class=" owl-carousel app-slide-auto">
                        <div class="item">
                            <div>
                                <img alt="" src="images/screen/screen.jpg" style="width: 100%; display: block">
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <img alt="" src="images/screen/screen2.jpg" style="width: 100%; display: block">
                            </div>
                        </div>

                        <div class="item">
                            <div>
                                <img alt="" src="images/screen/screen2.jpg" style="width: 100%; display: block">
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <img alt="" src="images/screen/screen3.jpg" style="width: 100%;  display: block">
                            </div>
                        </div>

                        <div class="item">
                            <div>
                                <img alt="" src="images/screen/screen4.jpg" style="width: 100%;  display: block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 wow fadeInRight">
                <div class="spacer-double"></div>
                <div class="box-icon-simple left">
                    <i class="icon-chat wow bounceIn" data-wow-delay=".6.5s"></i>
                    <div class="text">
                        <h3><span class="id-color">KIỂM SOÁT HIỆU QUẢ</span></h3>
                        Theo dõi lượng điện sản sinh mỗi ngày, tình trạng hệ thống và hiệu quả tiết kiệm trên mọi thiết
                        bị có kết nối internet …..
                    </div>
                </div>
                <div class="spacer-double"></div>
                <div class="box-icon-simple left">
                    <i class="icon-clock wow bounceIn" data-wow-delay=".9s"></i>
                    <div class="text">
                        <h3><span class="id-color">CẢNH BÁO LỖI TỰ ĐỘNG</span></h3>
                        Theo dõi lượng điện sản sinh mỗi ngày, tình trạng hệ thống và hiệu quả tiết kiệm trên mọi thiết
                        bị có kết nối internet …..
                    </div>
                </div>
                <div class="spacer-double"></div>
                <div class="box-icon-simple left">
                    <i class="icon-upload wow bounceIn" data-wow-delay="1.15s"></i>
                    <div class="text">
                        <h3><span class="id-color">TÙY CHỈNH THEO NHU CẦU</span></h3>
                        Theo dõi lượng điện sản sinh mỗi ngày, tình trạng hệ thống và hiệu quả tiết kiệm trên mọi thiết
                        bị có kết nối internet …..
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- section close -->



<!-- section begin -->
<section id="section-services2" class="pt-0" style="background: white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                <h2>CÁC BƯỚC THỰC HIỆN DỰ ÁN
                </h2>
                <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                <div class="spacer-single"></div>
            </div>
        </div>

        <div class="text-center">
            <img src="images/background/stepproject.png" class="img-fluid center-block" alt="">
        </div>

    </div>
</section>
<!-- section close -->


<!-- section begin -->
<section id="section-services3" class="pt-0" style="background: white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                <h2>CÔNG CỤ TÍNH TOÁN
                </h2>
                <h4>
                    QUY MÔ HỆ THỐNG ĐIỆN NĂNG LƯỢNG MẶT TRỜI PHÙ HỢP VỚI NHU CẦU CỦA MỖI HỘ GIA ĐÌNH
                </h4>
                <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                <div class="spacer-single"></div>
            </div>
        </div>

        <div class="rever-box">
            <div class="row no-gutter" style="background-size: cover;">
                <div class="col-md-6 mb-0 " style="background-size: cover;">
                    <div class="rever-box-left">
                        <div class="rever-label">
                            Số tiền điện trả hằng tháng:
                        </div>


                        <div class="rever-slide">
                            <div class="rever-slide-item">
                                <input id="electricityBill" type="range" class="input-range" value="0" max="20000000"
                                    min="0" step="50000">
                            </div>
                            <div class="rever-slide-value">
                                <strong id="electricityBillText">4500000 </strong> VNĐ
                            </div>
                        </div>


                        <div class="rever-result">
                            Số Điện Năng tiêu thụ: <span id="electricityConsumption">1486.99</span> Kw.h
                        </div>


                        <div class="rever-label">
                            Diện tích mái nhà:
                        </div>

                        <div class="rever-slide">
                            <div class="rever-slide-item">
                                <input id="houseArea" type="range" class="input-range" value="0" max="1000" min="0"
                                    step="5">
                            </div>
                            <div class="rever-slide-value">
                                <strong id="houseAreaText">280</strong> m2
                            </div>
                        </div>


                        <div class="rever-result">
                            Công suất tối đa có thể đạt được: <span id="maxCapacityCanMake">46.67</span> kWp
                        </div>





                        <div class="rever-result">
                            <div>Cường độ bức xạ trung bình tại:</div>
                            <select id="locations-selecter" class="form-control"
                                style="margin: 1em;max-width: 200px; display: inline-block">
                                <option value="">Xin hãy chọn địa điểm</option>
                                <option value="An Giang" data-intensity="4.36">An Giang</option>
                                <option value="Bà Rịa - Vũng Tàu" data-intensity="4.55">Bà Rịa - Vũng Tàu</option>
                                <option value="Bạc Liêu" data-intensity="4.41">Bạc Liêu</option>
                                <option value="Bắc Giang" data-intensity="3.22">Bắc Giang</option>
                                <option value="Bắc Kạn" data-intensity="3.28">Bắc Kạn</option>
                                <option value="Bắc Ninh" data-intensity="3.35">Bắc Ninh</option>
                                <option value="Bến Tre" data-intensity="4.50">Bến Tre</option>
                                <option value="Bình Dương" data-intensity="4.35">Bình Dương</option>
                                <option value="Bình Định" data-intensity="3.96">Bình Định</option>
                                <option value="Bình Phước" data-intensity="4.45">Bình Phước</option>
                                <option value="Bình Thuận" data-intensity="4.32">Bình Thuận</option>
                                <option value="Cà Mau" data-intensity="4.33">Cà Mau</option>
                                <option value="Cao Bằng" data-intensity="3.35">Cao Bằng</option>
                                <option value="Cần Thơ" data-intensity="4.28">Cần Thơ</option>
                                <option value="Đà Nẵng" data-intensity="3.96">Đà Nẵng</option>
                                <option value="Đắk Lắk" data-intensity="4.28">Đắk Lắk</option>
                                <option value="Đắk Nông" data-intensity="4.27">Đắk Nông</option>
                                <option value="Điện Biên" data-intensity="3.74">Điện Biên</option>
                                <option value="Đồng Nai" data-intensity="4.26">Đồng Nai</option>
                                <option value="Đồng Tháp" data-intensity="4.48">Đồng Tháp</option>
                                <option value="Gia Lai" data-intensity="4.52">Gia Lai</option>
                                <option value="Hà Giang" data-intensity="3.15">Hà Giang</option>
                                <option value="Hà Nam" data-intensity="3.38">Hà Nam</option>
                                <option value="Hà Nội" data-intensity="3.41">Hà Nội</option>
                                <option value="Hà Tĩnh" data-intensity="3.17">Hà Tĩnh</option>
                                <option value="Hải Dương" data-intensity="3.09">Hải Dương</option>
                                <option value="Hải Phòng" data-intensity="3.41">Hải Phòng</option>
                                <option value="Hậu Giang" data-intensity="4.25">Hậu Giang</option>
                                <option value="Hoà Bình" data-intensity="3.23">Hoà Bình</option>
                                <option value="Hồ Chí Minh" data-intensity="4.29">Hồ Chí Minh</option>
                                <option value="Hưng Yên" data-intensity="3.48">Hưng Yên</option>
                                <option value="Kiên Giang" data-intensity="4.33">Kiên Giang</option>
                                <option value="Kon Tum" data-intensity="4.42">Kon Tum</option>
                                <option value="Khánh Hòa" data-intensity="3.84">Khánh Hòa</option>
                                <option value="Lai Châu" data-intensity="3.55">Lai Châu</option>
                                <option value="Lạng Sơn" data-intensity="3.44">Lạng Sơn</option>
                                <option value="Lào Cai" data-intensity="3.18">Lào Cai</option>
                                <option value="Lâm Đồng" data-intensity="4.37">Lâm Đồng</option>
                                <option value="Long An" data-intensity="4.69">Long An</option>
                                <option value="Nam Định" data-intensity="3.35">Nam Định</option>
                                <option value="Ninh Bình" data-intensity="3.63">Ninh Bình</option>
                                <option value="Ninh Thuận" data-intensity="4.58">Ninh Thuận</option>
                                <option value="Nghệ An" data-intensity="3.19">Nghệ An</option>
                                <option value="Phú Thọ" data-intensity="3.42">Phú Thọ</option>
                                <option value="Phú Yên" data-intensity="3.83">Phú Yên</option>
                                <option value="Quảng Bình" data-intensity="3.16">Quảng Bình</option>
                                <option value="Quảng Nam" data-intensity="3.68">Quảng Nam</option>
                                <option value="Quảng Ninh" data-intensity="3.07">Quảng Ninh</option>
                                <option value="Quảng Ngãi" data-intensity="3.71">Quảng Ngãi</option>
                                <option value="Quảng Trị" data-intensity="3.48">Quảng Trị</option>
                                <option value="Sóc Trăng" data-intensity="4.45">Sóc Trăng</option>
                                <option value="Sơn La" data-intensity="3.49">Sơn La</option>
                                <option value="Tây Ninh" data-intensity="4.74">Tây Ninh</option>
                                <option value="Tiền Giang" data-intensity="4.44">Tiền Giang</option>
                                <option value="Tuyên Quang" data-intensity="3.18">Tuyên Quang</option>
                                <option value="Thái Bình" data-intensity="3.29">Thái Bình</option>
                                <option value="Thái Nguyên" data-intensity="3.46">Thái Nguyên</option>
                                <option value="Thanh Hóa" data-intensity="3.13">Thanh Hóa</option>
                                <option value="Thừa Thiên Huế" data-intensity="3.30">Thừa Thiên Huế</option>
                                <option value="Trà Vinh" data-intensity="4.51">Trà Vinh</option>
                                <option value="Vĩnh Long" data-intensity="4.45">Vĩnh Long</option>
                                <option value="Vĩnh Phúc" data-intensity="3.49">Vĩnh Phúc</option>
                                <option value="Yên Bái" data-intensity="3.46">Yên Bái</option>
                            </select> là

                            <span id="electricity-intensity">3.74</span> kW/m2/ngày
                        </div>





                        <div class="cal-box">
                            <div class="col-md-12 principles__item " style="background-size: cover;">
                                <img src="images/des/solar.png" class="img-responsive">
                            </div>
                            <div class="capacity-canmake" style="background-size: cover;">

                                <br>
                                <span class="capacity-canmake__tilte">Công suất nên đầu tư:</span>
                                <p class="capacity-canmake__value">
                                    <span id="capacityCanMake" class="capacity-canmake__unit">13.25</span>
                                    <span class="unit">&nbsp;kWp</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-0" style="background-size: cover;">
                    <div class="rever-box-right">
                        <h3 class="pp-1">Kết quả</h3>


                        <div class="pp-5">Cách xác định các chi phí đầu tư:</div>

                        <div class="row no-gutter">
                            <div class="col-md-6">
                                <img src="images/des/hinhbieudo.PNG" class="img-responsive " alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="pp-2">
                                    <div>Chi phí Tấm pin (loại mono): </div>
                                    <div class="h text-primary">139,125,000 </div>
                                </div>
                                <div class="pp-2">
                                    <div>Chi phí Biến tần: </div>
                                    <div class="h text-danger">00</div>
                                </div>

                                <div class="pp-2">
                                    <div>Chi phí Phụ kiện và lắp đặt: </div>
                                    <div class="h text-success"> 29,500,000</div>
                                </div>
                            </div>
                        </div>
                        <br>



                        <div class="pp-3">
                            Tổng chi phí :Chi phí Tấm pin +Chi phí Biến tần+ Chi phí Phụ kiện và lắp đặt = <strong class="red" id="cptong">Có thể cần nhiều hơn 1 bộ biến tần (1 pha), hãy gọi hotline để chúng
                                tôi tư vấn giúp bạn</strong>
                        </div>

                        <div class="pp-5">Cách xác định thời gian thu hồi vốn và thời gian dùng điện miễn phí:</div>

                        <div>
                            <p> Thời gian thu hồi vốn (năm) <strong class="red" id="tgthv">Liên hệ</strong> </p>
                        </div>

                        <div>
                            <p> Thời gian dùng điện miễn phí (năm) <strong id="tgddmp">Liên hệ</strong> </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-12" style="background-size: cover;">
                <p class="calculate__label">
                    Công thức tính công xuất đầu tư được dựa vào <strong>điện năng tiêu thụ</strong>, <strong>
                        công suất tối
                        đa có thể
                        đạt được
                    </strong>, <strong>cường độ bức xạ trung bình</strong>
                </p>
            </div>

            <div class="col-md-12" id="gocnghieng" style="background-size: cover;">
                <h3>Góc (nghiêng, góc định hướng) tối ưu để lắp đặt hệ thống là:<span>( 24 độ, 24 độ )</span></h3>
            </div>
            <div class="col-md-12" id="diennang" style="background-size: cover;">
                <h3>Tổng lượng điện năng sinh ra (năm đầu tiên): <span>17,580 Kw</span></h3>
            </div>
            <div class="col-md-12" id="chartM" style="text-align: center; background-size: cover;">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <canvas id="monthlyChart" style="display: block; height: 570px; width: 1140px;" width="1425"
                    height="712" class="chartjs-render-monitor"></canvas>
            </div>
        </div>




        <div id="Chiphidautu" hidden="" style="background-size: cover; display: block;">
            <div class="col-md-12 mt40" style="background-size: cover;">
                <h3>CÁCH XÁC ĐỊNH CÁC CHI PHÍ ĐẦU TƯ:</h3>
            </div>

            <div class="col-md-4" style="background-size: cover;">
                <p> Chi phí Tấm pin (loại mono): <strong id="cppin">139,125,000</strong> </p>

            </div>
            <div class="col-md-4" style="background-size: cover;">
                <p> Chi phí Biến tần: <strong id="cpbientan">00</strong> </p>

            </div>
            <div class="col-md-4" style="background-size: cover;">
                <p> Chi phí Phụ kiện và lắp đặt: <strong id="cppkld">29,500,000</strong> </p>

            </div>
            <div class="col-md-12" style="background-size: cover;">
                <h3> Tổng chi phí :Chi phí Tấm pin +Chi phí Biến tần+ Chi phí Phụ kiện và lắp đặt = <strong class="red"
                        id="cptong">Có thể cần nhiều hơn 1 bộ biến tần (1 pha), hãy gọi hotline để chúng
                        tôi tư vấn giúp bạn</strong> </h3>

            </div>

            <div class="col-md-12 mt40" style="background-size: cover;">
                <h3>CÁCH XÁC ĐỊNH THỜI GIAN THU HỒI VỐN VÀ THỜI GIAN DÙNG ĐIỆN MIỄN PHÍ:</h3>
            </div>
            <div class="col-md-6" style="background-size: cover;">
                <p> Thời gian thu hồi vốn (năm) <strong class="red" id="tgthv">Liên hệ</strong> </p>

            </div>
            <div class="col-md-6" style="background-size: cover;">
                <p> Thời gian dùng điện miễn phí (năm) <strong id="tgddmp">Liên hệ</strong> </p>

            </div>
        </div>


    </div>
</section>
<!-- section close -->


{% endblock %}


{% block javascript %}


{{ super()}}


<script src="giaiphap/pubsub.min.js.download"></script>
<script src="giaiphap/chart.js@2.8.0"></script>
<script>
    $('input[type="range"]').rangeslider({
        polyfill: false,

    });



    function calculateElectricityConsumption(bill) {
        if (typeof bill !== "number") {
            throw new Error('calculateElectricityConsumption recive bill is not number ')
        }

        if (bill >= 999900) {
            return (400 + (bill - 999900) / 3220);
        } else if (bill >= 688160) {
            return (300 + (bill - 688160) / 3117);
        } else if (bill >= 409200) {
            return (200 + (bill - 409200) / 2790);
        } else if (bill >= 187660) {
            return (150 + (bill - 187660) / 2215);
        } else if (bill >= 92290) {
            return (100 + (bill - 92290) / 1907);
        }

        return (bill / 1846);
    }


    function calculateMaxCapacityBaseOnArea(area) {
        if (typeof area !== "number") {
            throw new Error('calculateMaxCapacityBaseOnArea recive area is not number ')
        }

        return area / 6;
    }

    const locationsIntensity = [{
        "location": "An Giang",
        "lat": "10.515",
        "long": "105.113",
        "intensity": "4.36"
    }, {
        "location": "Bà Rịa - Vũng Tàu",
        "lat": "10.582",
        "long": "107.29",
        "intensity": "4.55"
    }, {
        "location": "Bạc Liêu",
        "lat": "9.33",
        "long": "105.463",
        "intensity": "4.41"
    }, {
        "location": "Bắc Giang",
        "lat": "21.309",
        "long": "106.617",
        "intensity": "3.22"
    }, {
        "location": "Bắc Kạn",
        "lat": "22.132",
        "long": "105.845",
        "intensity": "3.28"
    }, {
        "location": "Bắc Ninh",
        "lat": "21.121",
        "long": "106.088",
        "intensity": "3.35"
    }, {
        "location": "Bến Tre",
        "lat": "10.125",
        "long": "106.469",
        "intensity": "4.50"
    }, {
        "location": "Bình Dương",
        "lat": "11.197",
        "long": "106.708",
        "intensity": "4.35"
    }, {
        "location": "Bình Định",
        "lat": "14.153",
        "long": "108.924",
        "intensity": "3.96"
    }, {
        "location": "Bình Phước",
        "lat": "11.733",
        "long": "106.906",
        "intensity": "4.45"
    }, {
        "location": "Bình Thuận",
        "lat": "11.101",
        "long": "107.942",
        "intensity": "4.32"
    }, {
        "location": "Cà Mau",
        "lat": "9.103",
        "long": "105.106",
        "intensity": "4.33"
    }, {
        "location": "Cao Bằng",
        "lat": "22.657",
        "long": "106.246",
        "intensity": "3.35"
    }, {
        "location": "Cần Thơ",
        "lat": "10.038",
        "long": "105.781",
        "intensity": "4.28"
    }, {
        "location": "Đà Nẵng",
        "lat": "16.068",
        "long": "108.212",
        "intensity": "3.96"
    }, {
        "location": "Đắk Lắk",
        "lat": "12.84",
        "long": "108.228",
        "intensity": "4.28"
    }, {
        "location": "Đắk Nông",
        "lat": "12.129",
        "long": "107.587",
        "intensity": "4.27"
    }, {
        "location": "Điện Biên",
        "lat": "21.721",
        "long": "103.041",
        "intensity": "3.74"
    }, {
        "location": "Đồng Nai",
        "lat": "11.006",
        "long": "107.192",
        "intensity": "4.26"
    }, {
        "location": "Đồng Tháp",
        "lat": "10.554",
        "long": "105.653",
        "intensity": "4.48"
    }, {
        "location": "Gia Lai",
        "lat": "13.796",
        "long": "108.261",
        "intensity": "4.52"
    }, {
        "location": "Hà Giang",
        "lat": "22.607",
        "long": "104.799",
        "intensity": "3.15"
    }, {
        "location": "Hà Nam",
        "lat": "20.527",
        "long": "105.954",
        "intensity": "3.38"
    }, {
        "location": "Hà Nội",
        "lat": "21.029",
        "long": "105.854",
        "intensity": "3.41"
    }, {
        "location": "Hà Tĩnh",
        "lat": "18.288",
        "long": "105.784",
        "intensity": "3.17"
    }, {
        "location": "Hải Dương",
        "lat": "20.943",
        "long": "106.323",
        "intensity": "3.09"
    }, {
        "location": "Hải Phòng",
        "lat": "20.859",
        "long": "106.675",
        "intensity": "3.41"
    }, {
        "location": "Hậu Giang",
        "lat": "9.763",
        "long": "105.638",
        "intensity": "4.25"
    }, {
        "location": "Hoà Bình",
        "lat": "20.661",
        "long": "105.392",
        "intensity": "3.23"
    }, {
        "location": "Hồ Chí Minh",
        "lat": "10.776",
        "long": "106.702",
        "intensity": "4.29"
    }, {
        "location": "Hưng Yên",
        "lat": "20.819",
        "long": "106.031",
        "intensity": "3.48"
    }, {
        "location": "Kiên Giang",
        "lat": "9.978",
        "long": "105.257",
        "intensity": "4.33"
    }, {
        "location": "Kon Tum",
        "lat": "14.341",
        "long": "107.981",
        "intensity": "4.42"
    }, {
        "location": "Khánh Hòa",
        "lat": "12.196",
        "long": "108.995",
        "intensity": "3.84"
    }, {
        "location": "Lai Châu",
        "lat": "22.392",
        "long": "103.479",
        "intensity": "3.55"
    }, {
        "location": "Lạng Sơn",
        "lat": "21.893",
        "long": "106.588",
        "intensity": "3.44"
    }, {
        "location": "Lào Cai",
        "lat": "22.297",
        "long": "104.057",
        "intensity": "3.18"
    }, {
        "location": "Lâm Đồng",
        "lat": "11.694",
        "long": "108.153",
        "intensity": "4.37"
    }, {
        "location": "Long An",
        "lat": "10.727",
        "long": "106.191",
        "intensity": "4.69"
    }, {
        "location": "Nam Định",
        "lat": "20.271",
        "long": "106.163",
        "intensity": "3.35"
    }, {
        "location": "Ninh Bình",
        "lat": "20.245",
        "long": "105.983",
        "intensity": "3.63"
    }, {
        "location": "Ninh Thuận",
        "lat": "11.745",
        "long": "108.898",
        "intensity": "4.58"
    }, {
        "location": "Nghệ An",
        "lat": "19.374",
        "long": "104.923",
        "intensity": "3.19"
    }, {
        "location": "Phú Thọ",
        "lat": "21.321",
        "long": "105.127",
        "intensity": "3.42"
    }, {
        "location": "Phú Yên",
        "lat": "13.213",
        "long": "109.083",
        "intensity": "3.83"
    }, {
        "location": "Quảng Bình",
        "lat": "17.546",
        "long": "106.258",
        "intensity": "3.16"
    }, {
        "location": "Quảng Nam",
        "lat": "15.597",
        "long": "107.976",
        "intensity": "3.68"
    }, {
        "location": "Quảng Ninh",
        "lat": "21.172",
        "long": "107.201",
        "intensity": "3.07"
    }, {
        "location": "Quảng Ngãi",
        "lat": "14.964",
        "long": "108.664",
        "intensity": "3.71"
    }, {
        "location": "Quảng Trị",
        "lat": "16.858",
        "long": "106.859",
        "intensity": "3.48"
    }, {
        "location": "Sóc Trăng",
        "lat": "9.535",
        "long": "105.999",
        "intensity": "4.45"
    }, {
        "location": "Sơn La",
        "lat": "21.151",
        "long": "103.888",
        "intensity": "3.49"
    }, {
        "location": "Tây Ninh",
        "lat": "11.366",
        "long": "106.128",
        "intensity": "4.74"
    }, {
        "location": "Tiền Giang",
        "lat": "10.418",
        "long": "106.2",
        "intensity": "4.44"
    }, {
        "location": "Tuyên Quang",
        "lat": "22.126",
        "long": "105.209",
        "intensity": "3.18"
    }, {
        "location": "Thái Bình",
        "lat": "20.53",
        "long": "106.388",
        "intensity": "3.29"
    }, {
        "location": "Thái Nguyên",
        "lat": "21.655",
        "long": "105.836",
        "intensity": "3.46"
    }, {
        "location": "Thanh Hóa",
        "lat": "20.107",
        "long": "105.212",
        "intensity": "3.13"
    }, {
        "location": "Thừa Thiên Huế",
        "lat": "16.338",
        "long": "107.556",
        "intensity": "3.30"
    }, {
        "location": "Trà Vinh",
        "lat": "9.837",
        "long": "106.239",
        "intensity": "4.51"
    }, {
        "location": "Vĩnh Long",
        "lat": "10.094",
        "long": "106.031",
        "intensity": "4.45"
    }, {
        "location": "Vĩnh Phúc",
        "lat": "21.37",
        "long": "105.543",
        "intensity": "3.49"
    }, {
        "location": "Yên Bái",
        "lat": "21.71",
        "long": "104.887",
        "intensity": "3.46"
    }];

    function getIntensityRadiation(locationName) {
        const selectedLocation = locationsIntensity.find(({
            location
        }) => location === locationName);

        return selectedLocation.intensity;
    }


    function calculateCapacityCanMake(electricityConsumption, intensityRadiation, capacityMax) {
        let capacityCanMake = electricityConsumption / (intensityRadiation * 30);

        if (capacityCanMake >= capacityMax) return capacityMax;
        return capacityCanMake;
    }

    (() => {
        const ELECTRICITY_CHANGE = 'ELECTRICITY_CHANGE';
        const AREA_CHANGE = 'AREA_CHANGE';
        const LOCATION_CHANGE = 'LOCATION_CHANGE';
        let ctx = document.getElementById('monthlyChart').getContext('2d');
        let chart;

        PubSub.subscribe('ELECTRICITY_CHANGE', (msg, data) => {
            console.log(msg, data);
            electricityMonthlyPayment = +data;
            electricityConsumption = calculateElectricityConsumption(+data).toFixed(2);
            document.getElementById('electricityBillText').textContent = electricityMonthlyPayment;
            document.getElementById('electricityConsumption').textContent = electricityConsumption;
        });

        PubSub.subscribe('AREA_CHANGE', (msg, data) => {
            console.log(msg, data);
            houseArea = +data;
            maxCapacity = calculateMaxCapacityBaseOnArea(+data).toFixed(2);
            document.getElementById('houseAreaText').textContent = houseArea;
            document.getElementById('maxCapacityCanMake').textContent = maxCapacity;
        });

        PubSub.subscribe('LOCATION_CHANGE', (msg, data) => {
            console.log(msg, data);
            location = data;
            if (!data) {
                intensity = 0;
                document.getElementById('electricity-intensity').textContent = intensity;
            } else {
                intensity = +getIntensityRadiation(data);
                document.getElementById('electricity-intensity').textContent = intensity;
            }
        });

        PubSub.subscribe('ELECTRICITY_CHANGE', updateCapacityCanMake);
        PubSub.subscribe('AREA_CHANGE', updateCapacityCanMake);
        PubSub.subscribe('LOCATION_CHANGE', updateCapacityCanMake);

        function updateCapacityCanMake() {

            if (!electricityConsumption || !intensity || !maxCapacity) {
                capacityCanMake = 0;
                document.getElementById('capacityCanMake').textContent = +(capacityCanMake).toFixed(2);
            } else {
                capacityCanMake = calculateCapacityCanMake(+electricityConsumption, +intensity, +maxCapacity);
                document.getElementById('capacityCanMake').textContent = +(capacityCanMake).toFixed(2);
                updateChart();
            }


        }

        let electricityMonthlyPayment = 1000000;
        let electricityConsumption;
        let houseArea;
        let maxCapacity;
        let location;
        let intensity;
        let capacityCanMake = 0;

        document.getElementById('electricityBill').addEventListener('change', (e) => {
            console.log("dw");
            PubSub.publish(ELECTRICITY_CHANGE, e.target.value);
        });

        document.getElementById('houseArea').addEventListener('change', (e) => {
            PubSub.publish(AREA_CHANGE, e.target.value);
        });

        document.getElementById('locations-selecter').addEventListener('change', (e) => {
            PubSub.publish(LOCATION_CHANGE, e.target.value);

        });

        function addOptionsLocation() {
            let locationsSelector = document.getElementById('locations-selecter');
            let options = locationsIntensity.map(({
                location,
                intensity
            }) => {
                const option = document.createElement('option');
                option.setAttribute('value', location);
                option.dataset.intensity = intensity;
                option.textContent = location;

                return option;
            });

            const blankOption = document.createElement('option');
            blankOption.setAttribute('value', '');
            blankOption.textContent = 'Xin hãy chọn địa điểm';

            options.unshift(blankOption);

            options.forEach((option) => {
                locationsSelector.append(option);
            });
        }

        function updateChart() {
            var labels;
            var datas;
            console.log(document.getElementById('capacityCanMake').textContent);
            var result = [];

            $.get("/GetDataSolutionbyProvince/" + $("#locations-selecter").val() + "/" + $("#electricityBill").val() + "/" + document.getElementById('capacityCanMake').textContent, function (data) {
                labels = data.labels;
                datas = data.datas;

                $("#gocnghieng").empty();
                $("#diennang").empty();
                $("#cppin").empty();
                $("#cpbientan").empty();
                $("#cppkld").empty();
                $("#cptong").empty();
                $("#tgthv").empty();
                $("#tgddmp").empty();
                $("#Chiphidautu").show();
                $("#gocnghieng").append("<h3>Góc (nghiêng, góc định hướng) tối ưu để lắp đặt hệ thống là:<span>" + data.dataGoc + "</span></h3>");
                $("#diennang").append("<h3>Tổng lượng điện năng sinh ra (năm đầu tiên): <span>" + data.totalDiennang + " Kw</span></h3>");

                $("#cppin").append(data.pin);
                $("#cpbientan").append(data.bientan);
                $("#cppkld").append(data.pkLD);
                $("#cptong").append(data.chiphi);
                $("#tgthv").append(data.tgthuhoivon);
                $("#tgddmp").append(data.tgdungdienmienphi);

                if (!chart) {
                    chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'bar',

                        options: {
                            responsive: true,
                            legend: {
                                display: false,
                            },
                            title: {
                                display: true,
                                text: 'Biểu đồ lượng điện năng do hệ thống sinh ra (năm đầu tiên)',
                            }
                        },

                        tooltips: {
                            intersect: false,
                            mode: 'nearest',
                            xPadding: 10,
                            yPadding: 10,
                            caretPadding: 10
                        },
                        // The data for our dataset
                        data: {
                            labels: labels,//['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'] ,
                            datasets: [{
                                label: '',
                                backgroundColor: '#81d4fa',
                                borderColor: '#81d4fa',
                                // data: [147.0,139.0,138.0,116.0,100.0,88.9,91.7,101.0,99.0,120.0,132.0,141.0]
                                data: datas
                            }]
                        },
                    });
                    Chart.plugins.register({
                        afterDatasetsDraw: function (chart) {
                            var ctx = chart.ctx;

                            chart.data.datasets.forEach(function (dataset, i) {
                                var meta = chart.getDatasetMeta(i);
                                if (!meta.hidden) {
                                    meta.data.forEach(function (element, index) {
                                        // Draw the text in black, with the specified font

                                        var fontSize = 16;
                                        var fontStyle = 'normal';
                                        var fontFamily = 'Helvetica Neue';
                                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                                        // Just naively convert to string for now
                                        var percenChange = '';
                                        var isIncrease = true;
                                        percenChange = dataset.data[index];

                                        //var dataString = dataset.dataChange[index].toString();

                                        // Make sure alignment settings are correct
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'middle';
                                        ctx.fillStyle = isIncrease ? 'green' : 'rgb(255, 0, 0)';

                                        var padding = 5;
                                        var position = element.tooltipPosition();
                                        ctx.fillText(percenChange, position.x, position.y - (fontSize / 2) - padding);
                                    });
                                }
                            });
                        }
                    });
                } else {
                    chart.data.labels = labels;
                    chart.data.datasets[0].data = datas;
                    chart.update();
                }
            })



        }

        addOptionsLocation();
    })();
</script>

<script>

    $(function () {
        var $document = $(document);
        var selector = '[data-rangeslider22]';
        var $inputRange = $(selector); /** * Example functionality to demonstrate a value feedback * and change the output's value. */
        function valueOutput(element) {
            var value = element.value;
            var output = element.parentNode.getElementsByTagName('output')[0];
            output.innerHTML = value;
        } /** * Initial value output */
        for (var i = $inputRange.length - 1; i >= 0; i--) {
            valueOutput($inputRange[i]);
        }; /** * Update value output */
        $document.on('input', selector, function (e) {
            valueOutput(e.target);
        }); /** * Initialize the elements */
        $inputRange.rangeslider({
            polyfill: false
        }); /** * Example functionality to demonstrate programmatic value changes */
        $document.on('click', '#js-example-change-value button', function (e) {
            var $inputRange = $('[data-rangeslider]', e.target.parentNode);
            var value = $('input[type="number"]', e.target.parentNode)[0].value;
            $inputRange.val(value).change();
        }); /** * Example functionality to demonstrate programmatic attribute changes */
        $document.on('click', '#js-example-change-attributes button', function (e) {
            var $inputRange = $('[data-rangeslider]', e.target.parentNode);
            var attributes = {
                min: $('input[name="min"]', e.target.parentNode)[0].value,
                max: $('input[name="max"]', e.target.parentNode)[0].value,
                step: $('input[name="step"]', e.target.parentNode)[0].value
            };
            $inputRange.attr(attributes).rangeslider('update', true);
        }); /** * Example functionality to demonstrate destroy functionality */

        $document.on('click', '#js-example-destroy button[data-behaviour="destroy"]', function (e) {
            $('input[type="range"]', e.target.parentNode).rangeslider('destroy');
        }).on('click', '#js-example-destroy button[data-behaviour="initialize"]', function (e) {
            $('input[type="range"]', e.target.parentNode).rangeslider({
                polyfill: false
            });
        });
    });

</script>
{% endblock %}