{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<!-- content begin -->
<div id="content" class="no-bottom no-top">

    {% include 'layouts/slider.html' %}


    <div id="info-box" class="no-padding mt-90 mobile-hide absolute z-index500 text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="overlay10">

                        <div class="row-fluid">
                            <div class="col-md-4">
                                <div class="info-box padding20">
                                    <i class="icon_clock_alt id-color"></i>
                                    <div class="info-box_text">
                                        <div class="info-box_title">Opening Times</div>
                                        <div class="info-box_subtite">Monday - Friday: 09:00 - 18:00</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="info-box padding20">
                                    <i class="icon_mail_alt id-color"></i>
                                    <div class="info-box_text">
                                        <div class="info-box_title">Email</div>
                                        <div class="info-box_subtite">info@v-homes.vn</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="info-box padding20">
                                    <i class="icon_headphones id-color"></i>
                                    <div class="info-box_text">
                                        <div class="info-box_title">Hotline</div>
                                        <div class="info-box_subtite">0928.88.78.68</div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- section begin -->
    <section id="section-services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2><span class="wm">01.</span>Our Services</h2>
                    <div class="separator"><span><i class="fa fa-gear"></i></span></div>
                    <div class="spacer-single"></div>
                </div>


                <div class="col-md-4">
                    <img src="images/services/1.jpg" class="img-responsive" alt="">
                    <div class="spacer-single"></div>
                    <h3>Manufacturing</h3>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.
                </div>

                <div class="col-md-4">
                    <img src="images/services/2.jpg" class="img-responsive" alt="">
                    <div class="spacer-single"></div>
                    <h3>CNC Industries</h3>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.
                </div>

                <div class="col-md-4">
                    <img src="images/services/3.jpg" class="img-responsive" alt="">
                    <div class="spacer-single"></div>
                    <h3>Chemical Industries</h3>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.
                </div>

            </div>
        </div>
    </section>
    <!-- section close -->

    <!-- section begin -->
    <section id="section-hero-1" class="text-light" data-stellar-background-ratio="-.1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="h2 typing-wrap">
                        What You Can Imagine<br>We Can
                        <div class="typed-strings">
                            <p>Create</p>
                            <p>Build</p>
                            <p>Develop</p>
                        </div>
                        <span class="typed"></span>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="spacer-single"></div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. </p>
                    <div class="spacer-single"></div>
                    <a class="btn btn-custom">View All Services</a>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-why-choose-us-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2><span class="wm">02.</span>Why Choose Us</h2>
                    <div class="separator"><span><i class="fa fa-gear"></i></span></div>
                    <div class="spacer-single"></div>
                </div>


                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon"><i class="fa fa-rocket"></i></span>
                        <div class="text">
                            <h3>Modern Technology</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon"><i class="fa fa-link "></i></span>
                        <div class="text">
                            <h3>Powerfull Equipment</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon"><i class="fa fa-gears"></i></span>
                        <div class="text">
                            <h3>Quality Materials</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                    </div>
                </div>


                <div class="spacer-single"></div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon"><i class="fa fa-tag"></i></span>
                        <div class="text">
                            <h3>Affordable Price</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon"><i class="fa fa-users"></i></span>
                        <div class="text">
                            <h3>Professional Team</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon"><i class="fa fa-phone"></i></span>
                        <div class="text">
                            <h3>24 / 7 Support</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section begin -->
    <section id="section-steps" class="text-light" data-stellar-background-ratio="-.1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2><span class="wm">03.</span>Our Process</h2>
                    <div class="separator"><span><i class="fa fa-gear"></i></span></div>
                    <div class="spacer-single"></div>
                </div>

                <div class="col-md-12">
                    <div class="de_tab tab_steps">
                        <ul class="de_nav">
                            <li class="active"><span>Initiate</span>
                                <div class="v-border"></div>
                            </li>
                            <li><span>Plan</span>
                                <div class="v-border"></div>
                            </li>
                            <li><span>Execute</span>
                                <div class="v-border"></div>
                            </li>
                            <li><span>Monitor</span>
                                <div class="v-border"></div>
                            </li>
                        </ul>

                        <div class="de_tab_content">

                            <div id="tab1">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                                amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                            </div>

                            <div id="tab2">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                                amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                            </div>

                            <div id="tab3">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                                amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                            </div>

                            <div id="tab4">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                                amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->




    <!-- section begin -->
    <section id="section-portfolio">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2><span class="wm">04.</span>Our Projects</h2>
                    <div class="separator"><span><i class="fa fa-gear"></i></span></div>
                    <div class="spacer-single"></div>
                </div>
            </div>

            <div id="gallery" class="row gallery full-gallery de-gallery pf_4_cols">

                <!-- gallery item -->
                <div class="col-md-4 col-sm-6 col-xs-12 item mb30 residential">
                    <div class="picframe">
                        <a href="http://www.themenesia.com/themeforest/archi-industry/project-details.html">
                            <span class="overlay">
                                <span class="pf_text">
                                    <span class="project-name">Our Project #1</span>
                                </span>
                            </span>
                        </a>
                        <img src="images/portfolio/pf&#32;(1).jpg" alt="" />
                    </div>
                </div>
                <!-- close gallery item -->

                <!-- gallery item -->
                <div class="col-md-4 col-sm-6 col-xs-12 item mb30 hospitaly">
                    <div class="picframe">
                        <a href="http://www.themenesia.com/themeforest/archi-industry/project-details.html">
                            <span class="overlay">
                                <span class="pf_text">
                                    <span class="project-name">Our Project #2</span>
                                </span>
                            </span>
                        </a>

                        <img src="images/portfolio/pf&#32;(2).jpg" alt="" />
                    </div>
                </div>
                <!-- close gallery item -->

                <!-- gallery item -->
                <div class="col-md-4 col-sm-6 col-xs-12 item mb30 hospitaly">
                    <div class="picframe">
                        <a href="http://www.themenesia.com/themeforest/archi-industry/project-details.html">
                            <span class="overlay">
                                <span class="pf_text">
                                    <span class="project-name">Our Project #3</span>
                                </span>
                            </span>
                        </a>

                        <img src="images/portfolio/pf&#32;(3).jpg" alt="" />
                    </div>
                </div>
                <!-- close gallery item -->

                <!-- gallery item -->
                <div class="col-md-4 col-sm-6 col-xs-12 item mb30 residential">
                    <div class="picframe">
                        <a href="http://www.themenesia.com/themeforest/archi-industry/project-details.html">
                            <span class="overlay">
                                <span class="pf_text">
                                    <span class="project-name">Our Project #4</span>
                                </span>
                            </span>
                        </a>
                        <img src="images/portfolio/pf&#32;(4).jpg" alt="" />
                    </div>
                </div>
                <!-- close gallery item -->

                <!-- gallery item -->
                <div class="col-md-4 col-sm-6 col-xs-12 item mb30 office">
                    <div class="picframe">
                        <a href="http://www.themenesia.com/themeforest/archi-industry/project-details.html">
                            <span class="overlay">
                                <span class="pf_text">
                                    <span class="project-name">Our Project #5</span>
                                </span>
                            </span>
                        </a>
                        <img src="images/portfolio/pf&#32;(5).jpg" alt="" />
                    </div>
                </div>
                <!-- close gallery item -->

                <!-- gallery item -->
                <div class="col-md-4 col-sm-6 col-xs-12 item mb30 commercial">
                    <div class="picframe">
                        <a href="http://www.themenesia.com/themeforest/archi-industry/project-details.html">
                            <span class="overlay">
                                <span class="pf_text">
                                    <span class="project-name">Our Project #5</span>
                                </span>
                            </span>
                        </a>
                        <img src="images/portfolio/pf&#32;(6).jpg" alt="" />
                    </div>
                </div>
                <!-- close gallery item -->

            </div>
        </div>
    </section>
    <!-- logo carousel section close -->

    <!-- section begin -->
    <section id="cta" class="call-to-action text-light padding30 bg-color" aria-label="cta">
        <div class="container mb10">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="mt20">Request Free Consultation and Lets Do It!</h3>
                </div>

                <div class="col-md-4 text-right">
                    <a href="http://www.themenesia.com/themeforest/archi-industry/contact.html"
                        class="btn btn-line btn-big mt10">Request Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- logo carousel section close -->

</div>

{% endblock %}