{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- subheader -->
<section id="subheader" class="style-2"
    style="background-size: cover ; background-image: url('http://www.ginverter.com/weboms/Template/pc_web/statics/grzx/Growatt-3000-6000TL3-S-bj.jpg');">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-8 col-lg-offset-2 ">
                <div class="title-wrap text-center">
                    <h1>GROWATT 3000-6000TL3-S</h1>
                    <h4>Growatt FB60 is designed for domestic PV system. It is installed between the PV output and main
                        consumer unit. It has GFCI protection built in, and can measure as well as display the PV energy
                        generated.</h4>
                </div>

            </div>


            <div class="col-10 offset-2 col-lg-8 col-lg-offset-2 detail-image">
                <img src="http://www.ginverter.com/upload/file/contents/2019/05/5cf10e459dc8f.png"
                    class="img-responsive center-block" alt="">
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<section class="detail-present de_dark"
    style="background-image: url('http://www.ginverter.com/weboms/Template/pc_web/statics/grzx/Growatt-3000-6000TL3-S-bj2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2>APPLICATION</h2>
                <h5>3 PHASE GRID-TIED INVERTER FOR RESIDENTIAL OR SMALL COMMERCIAL ROOFTOP APPLICATION.
                    FANLESS DESIGN, COMPACT AND EASY FOR INSTALLATION.</h5>
                <div class="separator"><span><i class="fa fa-gear"></i></span></div>
                <div class="spacer-single"></div>

            </div>


            <div class="col-md-4">
                <img src="http://www.ginverter.com/weboms/Template/pc_web/statics/grzx/Growatt-3000-6000TL3-S_3_03.jpg"
                    class="img-responsive" alt="">
                <div class="spacer-single"></div>
                <h3>User-Friendly</h3>
                Compact design <br>
                Online smart service <br>
                Support export limitation
            </div>

            <div class="col-md-4">
                <img src="http://www.ginverter.com/weboms/Template/pc_web/statics/grzx/Growatt-3000-6000TL3-S_3_05.jpg"
                    class="img-responsive" alt="">
                <div class="spacer-single"></div>
                <h3>High Yields</h3>
                Max. efficiency up to 98.0% <br>
                Dual MPPTs for different alignments <br>
                Wide working voltage
            </div>

            <div class="col-md-4">
                <img src="http://www.ginverter.com/weboms/Template/pc_web/statics/grzx/Growatt-3000-6000TL3-S_3_07.jpg"
                    class="img-responsive" alt="">
                <div class="spacer-single"></div>
                <h3>Safe & Reliable</h3>
                Integrated DC switch <br>
                Multiple protection and detection <br>
                IP65 protection rating <br>
                Natural cooling
            </div>

        </div>
    </div>
</section>

<section class="detail-present de_dark"
    style="background-color: #333">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2>TECHNICAL PARAMETER</h2>
        
                <div class="separator"><span><i class="fa fa-gear"></i></span></div>
                <div class="spacer-single"></div>

            </div>


            <div class="col-12">
                <img src="http://www.ginverter.com/upload/file/contents/2019/06/5d130653a1ced.jpg"
                    class="img-responsive" alt="">
               
            </div>

        </div>
    </div>
</section>

<!-- content begin -->
<div id="content">


    <section id="" class="side-bg no-padding text-light section-download"
        style="background-image: url('images/background/download1.jpg')">
        <div class="image-container col-md-6 col-sm-6 pull-left" data-delay="0">
            <!-- <img src="http://www.ginverter.com/weboms/Template/pc_web/statics/product/download1.jpg" alt="" class="img-responsive hidden-phone wow slideInLeft" data-wow-duration="1.5s"> -->
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-md-6 col-md-offset-6 wow fadeInRight" data-wow-delay=".25s">
                        <h2>DOWNLOAD</h2>

                        <br>
                        <br>

                        <div class="de_tab timeline">
                            <ul class="de_nav">
                                <li class="active wow fadeIn" data-wow-delay="0s"><span>Technical document</span>
                                </li>
                                <li class="wow fadeIn" data-wow-delay=".4s"><span>User manual</span>
                                </li>
                                <li class="wow fadeIn" data-wow-delay=".8s"><span>Profuct certificate</span>
                                </li>

                            </ul>

                            <br>

                            <div class="de_tab_content p-0 mt-4">

                                <div id="tab1">
                                    <ul class="pddownload_list list-unstyled">
                                        <li>
                                            <i></i>
                                            <h4>Growatt 750-3000-S Datasheet</h4>
                                            <h5></h5><a href="" target="_blank"><img
                                                    src="images/background/down.png"></a>
                                        </li>
                                    </ul>
                                </div>

                                <div id="tab2">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium, totam rem aperiam, eaque
                                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                                    sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                    fugit,
                                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    Neque
                                    porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                    magnam
                                    aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                </div>

                                <div id="tab3">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium, totam rem aperiam, eaque
                                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                                    sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                    fugit,
                                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    Neque
                                    porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                    magnam
                                    aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>



</div>



{% endblock %}