{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- subheader -->
<section id="subheader"
    data-bgimage="url(http://www.ginverter.com/weboms/Template/pc_web/statics/grzx/Growatt-3000-6000TL3-S-bj.jpg"
    class="style-2" data-stellar-background-ratio=".1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap">
                    <h1>GROWATT 3000-6000TL3-S</h1>
                    <h4>3-6KW Three Phase, Dual MPPTs</h4>
                </div>
                <ul class="crumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="sep">/</li>
                    <li>GROWATT 3000-6000TL3-S</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<div id="info-box" class="no-padding mt-90 mobile-hide absolute z-index500 text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="overlay10">

                    <div class="row-fluid">
                        <div class="col-md-4">
                            <div class="info-box padding20">
                                <i class="icon_clock_alt id-color"></i>
                                <div class="info-box_text">
                                    <div class="info-box_title">Opening Times</div>
                                    <div class="info-box_subtite">Monday - Friday: 09:00 - 18:00</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="info-box padding20">
                                <i class="icon_house_alt id-color"></i>
                                <div class="info-box_text">
                                    <div class="info-box_title">Our Location</div>
                                    <div class="info-box_subtite">100 Mainstreet Center, Sydney</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="info-box padding20">
                                <i class="icon_headphones id-color"></i>
                                <div class="info-box_text">
                                    <div class="info-box_title">Customer Support</div>
                                    <div class="info-box_subtite">+208 333 9296</div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- content begin -->




<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div id="project-img-carousel" class="zoom-gallery">
                    <figure class="pic-hover hover-scale mb30">
                        <a href="http://www.ginverter.com/upload/file/contents/2019/05/5cf10e459dc8f.png">
                            <span class="bg-overlay"></span>
                            <img src="http://www.ginverter.com/upload/file/contents/2019/05/5cf10e459dc8f.png"
                                class="img-responsive" alt="">
                        </a>
                    </figure>

                    <figure class="pic-hover hover-scale">
                        <a href="images/portfolio/view/p1_b.jpg">
                            <span class="bg-overlay"></span>
                            <img src="images/portfolio/view/p1_b.jpg" class="img-responsive" alt="">
                        </a>
                    </figure>

                </div>
            </div>

            <div class="col-md-6">

                <div class="padding60" data-bgcolor="#f7f7f7">
                    <h3 class="mb20">Project Details
                        <span class="tiny-border"></span>
                    </h3>

                    <div class="info-details">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info-text">
                                    <span class="title">Client:</span>
                                    <span class="val">Envato Corps</span>
                                </div>

                                <div class="info-text">
                                    <span class="title">Location:</span>
                                    <span class="val">New York, USA</span>
                                </div>

                                <div class="info-text">
                                    <span class="title">Value:</span>
                                    <span class="val">$25,000</span>
                                </div>


                            </div>

                            <div class="col-md-6">


                                <div class="info-text">
                                    <span class="title">Year Completed:</span>
                                    <span class="val">2015</span>
                                </div>

                                <div class="info-text">
                                    <span class="title">Category:</span>
                                    <span class="val">Hospitaly</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-single"></div>

                    <h3 class="mb20">Project Overview
                        <span class="tiny-border"></span>
                    </h3>

                    <p>
                        In the modern industrialized world, construction usually involves the translation of designs
                        into reality. A formal design team may be assembled to plan the physical proceedings, and to
                        integrate those proceedings with the other parts. The design usually consists of drawings
                        and specifications, usually prepared by a design team including Architect, civil engineers,
                        mechanical engineers, electrical engineers, structural engineers, fire protection engineers,
                        planning consultants, architectural consultants, and archaeological consultants. The design
                        team is most commonly employed by (i.e. in contract with) the property owner. Under this
                        system, once the design is completed by the design team, a number of construction companies
                        or construction management companies may then be asked to make a bid for the work, either
                        based directly on the design, or on the basis of drawings and a bill of quantities provided
                        by a quantity surveyor.

                    </p>

                </div>


            </div>

        </div>
    </div>

    
    <div class="" style="background-image: url('http://www.ginverter.com/weboms/Template/pc_web/statics/product/download1.jpg')">
        <div class="container">

        </div>
    </div>


</div>



{% endblock %}