
        <!-- header begin -->
        <header>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col">Working Hours Monday - Friday <span class="id-color"><strong>08:00-16:00</strong></span></div>
                            <div class="col">Toll Free <span class="id-color"><strong>1800.899.900</strong></span></div>
                            <!-- social icons -->
                            <div class="col social">
                                <a href="index.html#"><i class="fa fa-facebook"></i></a>
                                <a href="index.html#"><i class="fa fa-twitter"></i></a>
                                <a href="index.html#"><i class="fa fa-rss"></i></a>
                                <a href="index.html#"><i class="fa fa-google-plus"></i></a>
                                <a href="index.html#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                            <!-- social icons close -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- logo begin -->
                        <div id="logo">
                            <a href="index.html">
                                <img class="logo" src="images/logo.png" width="100" alt="">
                            </a>
                        </div>
                        <!-- logo close -->

                        <!-- small button begin -->
                        <span id="menu-btn"></span>
                        <!-- small button close -->

                        <!-- mainmenu begin -->
                        <nav>
                            <ul id="mainmenu">
                                <li><a href="index.html">Trang chủ</a></li>

                                <li><a href="index.html">Giải pháp</a></li>
                                <li><a href="index.html">Sản phẩm</a></li>
                                <li><a href="index.html">Công trình tiêu biểu</a></li>
                                <li><a href="index.html">Hỗ trợ</a></li>
                                <li><a href="index.html">Liên hệ</a></li>
<!-- 

								<li><a href="http://www.themenesia.com/themeforest/archi-industry/about.html">About</a></li>
								<li><a href="http://www.themenesia.com/themeforest/archi-industry/services.html">Services</a>
									<ul>
										<li><a href="http://www.themenesia.com/themeforest/archi-industry/services.html">All Services</a></li>
										<li><a href="http://www.themenesia.com/themeforest/archi-industry/service-single.html">Single</a></li>
									</ul>
								</li>
                                <li><a href="http://www.themenesia.com/themeforest/archi-industry/projects.html">Projects</a></li>
                                <li><a href="http://www.themenesia.com/themeforest/archi-industry/news.html">News</a></li>
                                <li><a href="http://www.themenesia.com/themeforest/archi-industry/contact.html">Contact</a></li> -->
                            </ul>
                        </nav>

                    </div>
                    <!-- mainmenu close -->

                </div>
            </div>
        </header>
        <!-- header close -->