<!-- revolution slider begin -->
<section id="section-slider" class="fullwidthbanner-container" aria-label="section-slider">
  <div id="revolution-slider">
    <ul>



      <li data-transition="slidehorizontal" data-slotamount="10" data-masterspeed="500" data-thumb="">
        <!--  BACKGROUND IMAGE -->
        <!-- <img src="images-slider/wide1.jpg" alt="" /> -->
        <img src="images/des/bbg2.jpg" alt="" />
        <div class="tp-caption big-white sft" data-x="center" data-y="160" data-speed="1800" data-start="400"
          data-easing="easeInOutExpo" data-endspeed="450">
          Most Trusted
        </div>

        <div class="tp-caption ultra-big-white customin customout start" data-x="center" data-y="center"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="1800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
          Industry Leader
        </div>

        <div class="tp-caption sfb" data-x="center" data-y="335" data-speed="1400" data-start="800"
          data-easing="easeInOutExpo">
          <a href="http://www.themenesia.com/themeforest/archi-industry/about.html" class="btn-slider">About Company
          </a>
        </div>
      </li>

      <li data-transition="slidehorizontal" data-slotamount="10" data-masterspeed="500" data-thumb="">
        <!--  BACKGROUND IMAGE -->
        <!-- <img src="images-slider/wide2.jpg" alt="" /> -->
        <img src="images/des/bbg4.jpg" alt="" />
        <div class="tp-caption big-white sft" data-x="center" data-y="160" data-speed="1800" data-start="400"
          data-easing="easeInOutExpo" data-endspeed="450">
          Committed to Best
        </div>

        <div class="tp-caption ultra-big-white customin customout start" data-x="center" data-y="center"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="1800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
          Quality &amp; Results
        </div>

        <div class="tp-caption sfb" data-x="center" data-y="335" data-speed="1400" data-start="800"
          data-easing="easeInOutExpo">
          <a href="http://www.themenesia.com/themeforest/archi-industry/services.html" class="btn-slider">Our Services
          </a>
        </div>
      </li>

      <li data-transition="slidehorizontal" data-slotamount="10" data-masterspeed="500" data-thumb="">
        <!--  BACKGROUND IMAGE -->
        <img src="images-slider/wide3.jpg" alt="" />
        <div class="tp-caption big-white sft" data-x="center" data-y="160" data-speed="1800" data-start="400"
          data-easing="easeInOutExpo" data-endspeed="450">
          Turning Idea Into
        </div>

        <div class="tp-caption ultra-big-white customin customout start" data-x="center" data-y="center"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="1800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
          Great Products
        </div>

        <div class="tp-caption sfb" data-x="center" data-y="335" data-speed="1400" data-start="800"
          data-easing="easeInOutExpo">
          <a href="http://www.themenesia.com/themeforest/archi-industry/projects.html" class="btn-slider">Our Projects
          </a>
        </div>
      </li>

    </ul>
  </div>
</section>
<!-- revolution slider close -->