<!-- revolution slider begin -->
<section id="section-slider" class="fullwidthbanner-container desktop-imm" aria-label="section-slider">
  <div id="revolution-slider">
    <ul>


      <li data-transition="parallaxtoright" data-slotamount="10" data-masterspeed="800" data-thumb="">
        <!--  BACKGROUND IMAGE -->
        <img src="images/des/bbg2.jpg" alt="" />


        <div class="tp-caption large_text sfb" data-x="0" data-y="100" data-speed="800" data-start="500"
          data-easing="easeInOutExpo" data-endspeed="400">
          TẤM PIN NĂNG LƯỢNG MẶT TRỜI <br /> SUNERGY USA
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="210" data-speed="800"
          data-start="600" data-easing="easeInOutExpo" data-endspeed="450">
          Tấm pin năng lượng mặt trời chất lượng cao
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="245" data-speed="800"
          data-start="650" data-easing="easeInOutExpo" data-endspeed="450">
          THƯƠNG HIỆU usa. SẢN XUẤT TẠI: MỸ / THÁI LAN/ Tq
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="280" data-speed="800"
          data-start="700" data-easing="easeInOutExpo" data-endspeed="450">
          LOẠI VẬT LIỆU: Monocrystalline / polycrystalline
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="315" data-speed="800"
          data-start="750" data-easing="easeInOutExpo" data-endspeed="450">
          CÔNG SUẤT: 320-335 (poly); 350-370w (mono)
        </div>


        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="350" data-speed="800"
          data-start="800" data-easing="easeInOutExpo" data-endspeed="450">
          Chứng nhận: TUV, UL,ETL, CSA, CE, ISO, INMETRO
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="385" data-speed="800"
          data-start="850" data-easing="easeInOutExpo" data-endspeed="450">
          Bảo hành: 10 năm cho lỗi kỹ thuật
        </div>


        <div class="tp-caption sfb" data-x="0" data-y="475" data-speed="800" data-start="900"
          data-easing="easeInOutExpo">
          <a href="#" class="btn-slider">Xem thêm
          </a>
        </div>


        <!-- <div class="tp-caption sfb" data-x="right" data-y="110" data-speed="800" data-start="1200"
          data-easing="easeInOutExpo" data-endspeed="450">
          <img src="images/des/slide-img-1.png" width="300" alt="">
        </div> -->

        <div class="tp-caption ultra-big-white customin customout start" data-x="right" data-y="90"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="1800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
          <img src="images/des/slide-img-1.png" width="300" alt="">
        </div>

      </li>


      <li data-transition="parallaxtoright" data-slotamount="10" data-masterspeed="800" data-thumb="">
        <!--  BACKGROUND IMAGE -->
        <img src="images/des/bbg4.jpg" alt="" />


        <div class="tp-caption large_text sfb" data-x="0" data-y="100" data-speed="800" data-start="500"
          data-easing="easeInOutExpo" data-endspeed="400">
          TẤM PIN NĂNG LƯỢNG MẶT TRỜI <br /> SUNERGY USA
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="210" data-speed="800"
          data-start="600" data-easing="easeInOutExpo" data-endspeed="450">
          Tấm pin năng lượng mặt trời chất lượng cao
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="245" data-speed="800"
          data-start="650" data-easing="easeInOutExpo" data-endspeed="450">
          THƯƠNG HIỆU usa. SẢN XUẤT TẠI: MỸ / THÁI LAN/ Tq
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="280" data-speed="800"
          data-start="700" data-easing="easeInOutExpo" data-endspeed="450">
          LOẠI VẬT LIỆU: Monocrystalline / polycrystalline
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="315" data-speed="800"
          data-start="750" data-easing="easeInOutExpo" data-endspeed="450">
          CÔNG SUẤT: 320-335 (poly); 350-370w (mono)
        </div>


        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="350" data-speed="800"
          data-start="800" data-easing="easeInOutExpo" data-endspeed="450">
          Chứng nhận: TUV, UL,ETL, CSA, CE, ISO, INMETRO
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="385" data-speed="800"
          data-start="850" data-easing="easeInOutExpo" data-endspeed="450">
          Bảo hành: 10 năm cho lỗi kỹ thuật
        </div>


        <div class="tp-caption sfb" data-x="0" data-y="475" data-speed="800" data-start="900"
          data-easing="easeInOutExpo">
          <a href="#" class="btn-slider">Xem thêm
          </a>
        </div>


        <!-- <div class="tp-caption sfb" data-x="right" data-y="110" data-speed="800" data-start="1200"
            data-easing="easeInOutExpo" data-endspeed="450">
            <img src="images/des/slide-img-1.png" width="300" alt="">
          </div> -->

        <div class="tp-caption ultra-big-white customin customout start" data-x="right" data-y="70"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="1800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
          <img src="images/des/slide-img-2.png" width="450" alt="">
        </div>

      </li>



      <li data-transition="parallaxtoright" data-slotamount="10" data-masterspeed="800" data-thumb="">
        <!--  BACKGROUND IMAGE -->
        <img src="images/des/bbg4.jpg" alt="" />


        <div class="tp-caption large_text sfb" data-x="0" data-y="100" data-speed="800" data-start="500"
          data-easing="easeInOutExpo" data-endspeed="400">
          TẤM PIN NĂNG LƯỢNG MẶT TRỜI <br /> SUNERGY USA
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="210" data-speed="800"
          data-start="600" data-easing="easeInOutExpo" data-endspeed="450">
          Tấm pin năng lượng mặt trời chất lượng cao
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="245" data-speed="800"
          data-start="650" data-easing="easeInOutExpo" data-endspeed="450">
          THƯƠNG HIỆU usa. SẢN XUẤT TẠI: MỸ / THÁI LAN/ Tq
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="280" data-speed="800"
          data-start="700" data-easing="easeInOutExpo" data-endspeed="450">
          LOẠI VẬT LIỆU: Monocrystalline / polycrystalline
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="315" data-speed="800"
          data-start="750" data-easing="easeInOutExpo" data-endspeed="450">
          CÔNG SUẤT: 320-335 (poly); 350-370w (mono)
        </div>


        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="350" data-speed="800"
          data-start="800" data-easing="easeInOutExpo" data-endspeed="450">
          Chứng nhận: TUV, UL,ETL, CSA, CE, ISO, INMETRO
        </div>

        <div class="tp-caption medium_text sfb font-weight-normal" data-x="0" data-y="385" data-speed="800"
          data-start="850" data-easing="easeInOutExpo" data-endspeed="450">
          Bảo hành: 10 năm cho lỗi kỹ thuật
        </div>


        <div class="tp-caption sfb" data-x="0" data-y="475" data-speed="800" data-start="900"
          data-easing="easeInOutExpo">
          <a href="#" class="btn-slider">Xem thêm
          </a>
        </div>


        <!-- <div class="tp-caption sfb" data-x="right" data-y="110" data-speed="800" data-start="1200"
              data-easing="easeInOutExpo" data-endspeed="450">
              <img src="images/des/slide-img-1.png" width="300" alt="">
            </div> -->

        <div class="tp-caption ultra-big-white customin customout start" data-x="right" data-y="90"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="1800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
          <img src="images/des/slide-img-3.png" width="400" alt="">
        </div>

      </li>


      <li data-transition="slidehorizontal" data-slotamount="10" data-masterspeed="500" data-thumb="">
        <!--  BACKGROUND IMAGE -->
        <img src="images-slider/wide3.jpg" alt="" />
        <div class="tp-caption big-white sft" data-x="center" data-y="160" data-speed="1800" data-start="400"
          data-easing="easeInOutExpo" data-endspeed="450">
          Turning Idea Into
        </div>

        <div class="tp-caption ultra-big-white customin customout start" data-x="center" data-y="center"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="1800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
          Great Products
        </div>

        <div class="tp-caption sfb" data-x="center" data-y="335" data-speed="1400" data-start="800"
          data-easing="easeInOutExpo">
          <a href="http://www.themenesia.com/themeforest/archi-industry/projects.html" class="btn-slider">Our Projects
          </a>
        </div>
      </li>



    </ul>
  </div>
</section>


<div class="mobile-slider">
  <div id="mobile-slider" class="owl-carousel owl-theme">

    <div class="mobile-slider-item" style="background-image: url(images/des/bbg2.jpg)">
      <div>

        <div class="h3  jk mt-0">
          TẤM PIN NĂNG LƯỢNG MẶT TRỜI <br /> SUNERGY USA
        </div>

        <div class="jk">
          Tấm pin năng lượng mặt trời chất lượng cao
        </div>

        <div class="jk">
          THƯƠNG HIỆU usa. SẢN XUẤT TẠI: MỸ / THÁI LAN/ Tq
        </div>

        <div class="jk">
          LOẠI VẬT LIỆU: Monocrystalline / polycrystalline
        </div>

        <div class="jk">
          CÔNG SUẤT: 320-335 (poly); 350-370w (mono)
        </div>


        <div class="jk">
          Chứng nhận: TUV, UL,ETL, CSA, CE, ISO, INMETRO
        </div>

        <div class="jk">
          Bảo hành: 10 năm cho lỗi kỹ thuật
        </div>


        <div class="jk pt-4">
          <a href="#" class="btn-slider">Xem thêm
          </a>
        </div>


        <div class="mobile-slider-img">
          <img src="images/des/slide-img-1.png" width="300" class="img-fluid center-block" alt="">
        </div>
      </div>

    </div>
    <div class="mobile-slider-item" style="background-image: url(images/des/bbg2.jpg)">
      <div>

        <div class="h3  jk mt-0">
          TẤM PIN NĂNG LƯỢNG MẶT TRỜI <br /> SUNERGY USA
        </div>

        <div class="jk">
          Tấm pin năng lượng mặt trời chất lượng cao
        </div>

        <div class="jk">
          THƯƠNG HIỆU usa. SẢN XUẤT TẠI: MỸ / THÁI LAN/ Tq
        </div>

        <div class="jk">
          LOẠI VẬT LIỆU: Monocrystalline / polycrystalline
        </div>

        <div class="jk">
          CÔNG SUẤT: 320-335 (poly); 350-370w (mono)
        </div>


        <div class="jk">
          Chứng nhận: TUV, UL,ETL, CSA, CE, ISO, INMETRO
        </div>

        <div class="jk">
          Bảo hành: 10 năm cho lỗi kỹ thuật
        </div>


        <div class="jk pt-4">
          <a href="#" class="btn-slider">Xem thêm
          </a>
        </div>


        <div class="mobile-slider-img">
          <img src="images/des/slide-img-1.png" width="300" class="img-fluid center-block" alt="">
        </div>
      </div>

    </div>

    <div class="mobile-slider-item" style="background-image: url(images/des/bbg2.jpg)">
      <div>

        <div class="h3  jk mt-0">
          TẤM PIN NĂNG LƯỢNG MẶT TRỜI <br /> SUNERGY USA
        </div>

        <div class="jk">
          Tấm pin năng lượng mặt trời chất lượng cao
        </div>

        <div class="jk">
          THƯƠNG HIỆU usa. SẢN XUẤT TẠI: MỸ / THÁI LAN/ Tq
        </div>

        <div class="jk">
          LOẠI VẬT LIỆU: Monocrystalline / polycrystalline
        </div>

        <div class="jk">
          CÔNG SUẤT: 320-335 (poly); 350-370w (mono)
        </div>


        <div class="jk">
          Chứng nhận: TUV, UL,ETL, CSA, CE, ISO, INMETRO
        </div>

        <div class="jk">
          Bảo hành: 10 năm cho lỗi kỹ thuật
        </div>


        <div class="jk pt-4">
          <a href="#" class="btn-slider">Xem thêm
          </a>
        </div>


        <div class="mobile-slider-img">
          <img src="images/des/slide-img-1.png" width="300" class="img-fluid center-block" alt="">
        </div>
      </div>

    </div>

  </div>
</div>
<!-- revolution slider close -->